.faq {
	padding-top: 150px;
	padding-bottom: 100px;
	min-height: 610px;
	@media (max-width: 768px) {
		padding-top: 90px;
		padding-bottom: 90px;
	}

	&__wrap {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		@media (max-width: 950px) {
			flex-direction: column;
		}
	}

	&__wrap-title {
		width: 19%;
		@media (max-width: 950px) {
			width: 100%;
			margin-bottom: 40px;
		}
	}

	&__title {
	}

	&__content {
		max-width: 988px;
		width: 80%;
		@media (max-width: 950px) {
			width: 100%;
		}
	}

	&__question-item {
		padding: 30px 0;
		border-top: 1px solid rgba(255, 255, 255, 0.2);

		&:last-child {
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		}
	}

	&__question-wrap {
	}

	&__question-title {
		font-size: 24px;
		line-height: 146%;
	}

	&__answer-wrap {
		display: none;
		padding-top: 30px;
	}

	&__answer {
		font-size: 16px;
		line-height: 120%;
		letter-spacing: 0.01em;
	}
}
.container {
}
.title-h2 {
}
.open-one {
}
