<section class="faq">
	<div class="container">
		<div class="faq__wrap">
			<div class="faq__wrap-title">
				<h2 class="faq__title title-h2">
					FAQ
				</h2>
			</div>
			<div class="faq__content open-one">

				<div class="faq__question-item">
					<div class="faq__question-wrap">
						<p class="faq__question-title">Как добраться до музея?</p>
					</div>
					<div class="faq__answer-wrap">
						<p class="faq__answer">
							В Национальный музей Республики Татарстан можно добраться общественным транспортом:<br/>
							1) «Станция метро «Кремлевская», а затем по направлению к Кремлю
							пройдя 5 минут пешком;
						</p>
					</div>
				</div>
				<div class="faq__question-item">
					<div class="faq__question-wrap">
						<p class="faq__question-title">Есть ли поблизости удобная парковка?</p>
					</div>
					<div class="faq__answer-wrap">
						<p class="faq__answer">
							В Национальный музей Республики Татарстан можно добраться общественным транспортом:<br/>
							1) «Станция метро «Кремлевская», а затем по направлению к Кремлю
							пройдя 5 минут пешком;
						</p>
					</div>
				</div>
				<div class="faq__question-item">
					<div class="faq__question-wrap">
						<p class="faq__question-title">Можно ли воспользоваться аудиогидом?</p>
					</div>
					<div class="faq__answer-wrap">
						<p class="faq__answer">
							В Национальный музей Республики Татарстан можно добраться общественным транспортом:<br/>
							1) «Станция метро «Кремлевская», а затем по направлению к Кремлю
							пройдя 5 минут пешком;
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
