<footer class="footer">
	<div class="container">
		<div class="footer__wrap-content">
			<div class="footer__content">
				<span class="footer__title">
					Заголовок
				</span>
				<p class="footer__description">
					ОписаниОписание Описание  Описание Описание Описание  Описаниее
				</p>
				<a href="https://500na700.ru/" target="_blank" class="footer__link">500na700.ru</a>
			</div>
			<div class="footer__wrap-social">
				<a href="#" class="footer__social-link">
					<img src="assets/images/icon/vk.svg" alt="" class="footer__social-icon">
				</a>
				<a href="#" class="footer__social-link">
					<img src="assets/images/icon/fb.svg" alt="" class="footer__social-icon">
				</a>
				<a href="#" class="footer__social-link">
					<img src="assets/images/icon/tiktok.svg" alt="" class="footer__social-icon">
				</a>
				<a href="#" class="footer__social-link">
					<img src="assets/images/icon/youtube.svg" alt="" class="footer__social-icon">
				</a>
			</div>
		</div>
	</div>
</footer>