<nav class="menu">
	<ul class="menu__list">
		<li class="menu__item">
			<a href="#" class="menu__link">Пункт 1</a>
			<div class="menu__submenu">
				<div class="container">
					<ul class="menu__subitems">
						<li class="menu__subitem">
							<a href="#" class="menu__link menu__sublink">Подпункт меню 1</a>
						</li>
						<li class="menu__subitem">
							<a href="#" class="menu__link menu__sublink">Подпункт меню 2</a>
						</li>
						<li class="menu__subitem">
							<a href="#" class="menu__link menu__sublink">Подпункт меню 3</a>
						</li>
						<li class="menu__subitem">
							<a href="#" class="menu__link menu__sublink">Подпункт меню 4</a>
						</li>
						<li class="menu__subitem">
							<a href="#" class="menu__link menu__sublink">Подпункт меню 5</a>
						</li>
						
					</ul>
				</div>
			</div>
		</li>
		<li class="menu__item">
			<a href="#" class="menu__link">Пункт 2</a>
			<div class="menu__submenu">
				<div class="container">
					<ul class="menu__subitems">
						<li class="menu__subitem">
							<a href="#" class="menu__link menu__sublink">Подпункт меню 1</a>
						</li>
						<li class="menu__subitem">
							<a href="#" class="menu__link menu__sublink">Подпункт меню 2</a>
						</li>
						<li class="menu__subitem">
							<a href="#" class="menu__link menu__sublink">Подпункт меню 3</a>
						</li>
						<li class="menu__subitem">
							<a href="#" class="menu__link menu__sublink">Подпункт меню 4</a>
						</li>
						<li class="menu__subitem">
							<a href="#" class="menu__link menu__sublink">Подпункт меню 5</a>
						</li>
						<li class="menu__subitem">
							<a href="#" class="menu__link menu__sublink">Подпункт меню</a>
						</li>
						<li class="menu__subitem">
							<a href="#" class="menu__link menu__sublink">Подпункт меню</a>
						</li>
						<li class="menu__subitem">
							<a href="#" class="menu__link menu__sublink">Подпункт меню</a>
						</li>
						<li class="menu__subitem">
							<a href="#" class="menu__link menu__sublink">Подпункт меню</a>
						</li>
						<li class="menu__subitem">
							<a href="#" class="menu__link menu__sublink">Подпункт меню</a>
						</li>
						<li class="menu__subitem">
							<a href="#" class="menu__link menu__sublink">Подпункт меню</a>
						</li>
						<li class="menu__subitem">
							<a href="#" class="menu__link menu__sublink">Подпункт меню</a>
						</li>
						<li class="menu__subitem">
							<a href="#" class="menu__link menu__sublink">Подпункт меню</a>
						</li>
						<li class="menu__subitem">
							<a href="#" class="menu__link menu__sublink">Подпункт меню</a>
						</li>
					
					</ul>
				</div>
			</div>
		</li>
		<li class="menu__item">
			<a href="#" class="menu__link">Пункт 3</a>
			<div class="menu__submenu">
				<div class="container">
					<ul class="menu__subitems">
						<li class="menu__subitem">
							<a href="#" class="menu__link menu__sublink">Подпункт меню 1</a>
						</li>
						<li class="menu__subitem">
							<a href="#" class="menu__link menu__sublink">Подпункт меню 2</a>
						</li>
						<li class="menu__subitem">
							<a href="#" class="menu__link menu__sublink">Подпункт меню 3</a>
						</li>
						<li class="menu__subitem">
							<a href="#" class="menu__link menu__sublink">Подпункт меню 4</a>
						</li>
						<li class="menu__subitem">
							<a href="#" class="menu__link menu__sublink">Подпункт меню 5</a>
						</li>
						
					</ul>
				</div>
			</div>
		</li>
		<li class="menu__item">
			<a href="#" class="menu__link">Пункт 4</a>
			<div class="menu__submenu">
				<div class="container">
					<ul class="menu__subitems">
						<li class="menu__subitem">
							<a href="#" class="menu__link menu__sublink">Подпункт меню 1</a>
						</li>
						<li class="menu__subitem">
							<a href="#" class="menu__link menu__sublink">Подпункт меню 2</a>
						</li>
						<li class="menu__subitem">
							<a href="#" class="menu__link menu__sublink">Подпункт меню 3</a>
						</li>
						<li class="menu__subitem">
							<a href="#" class="menu__link menu__sublink">Подпункт меню 4</a>
						</li>
						<li class="menu__subitem">
							<a href="#" class="menu__link menu__sublink">Подпункт меню 5</a>
						</li>
						
					</ul>
				</div>
			</div>
		</li>
		<li class="menu__item">
			<a href="#" class="menu__link">Пункт 5</a>
			<div class="menu__submenu">
				<div class="container">
					<ul class="menu__subitems">
						<li class="menu__subitem">
							<a href="#" class="menu__link menu__sublink">Подпункт меню 1</a>
						</li>
						<li class="menu__subitem">
							<a href="#" class="menu__link menu__sublink">Подпункт меню 2</a>
						</li>
						<li class="menu__subitem">
							<a href="#" class="menu__link menu__sublink">Подпункт меню 3</a>
						</li>
						<li class="menu__subitem">
							<a href="#" class="menu__link menu__sublink">Подпункт меню 4</a>
						</li>
						<li class="menu__subitem">
							<a href="#" class="menu__link menu__sublink">Подпункт меню 5</a>
						</li>
						
					</ul>
				</div>
			</div>
		</li>
	</ul>
</nav>