<section class="news">
	<div class="container">
		<h2 class="news__title title-h2">Новости</h2>
		<div class="news__content">
			<div class="news__swiper-wrapper ">
				<div class="news__item">
					<img src="assets/images/img/news-1.jpg" alt="" class="news__item-img">
					<img src="assets/images/img/news-1-mobile.jpg" alt="" class="news__item-img news__item-img_mobile">
					<h3 class="news__item-title">
						Заголовок
					</h3>
					<p class="news__item-description">
						ОписаниОписание Описание Описание Описание Описание Описаниее
					</p>
				</div>
				<div class="news__item">
					<img src="assets/images/img/news-2.jpg" alt="" class="news__item-img">
					<img src="assets/images/img/news-2-mobile.jpg" alt="" class="news__item-img news__item-img_mobile">
					<h3 class="news__item-title">
						Заголовок
					</h3>
					<p class="news__item-description">
						ОписаниОписание Описание Описание Описание Описание Описаниее
					</p>
				</div>
				<div class="news__item">
					<img src="assets/images/img/news-3.jpg" alt="" class="news__item-img">
					<img src="assets/images/img/news-3-mobile.jpg" alt="" class="news__item-img news__item-img_mobile">
					<h3 class="news__item-title">
						Заголовок
					</h3>
					<p class="news__item-description">
						ОписаниОписание Описание Описание Описание Описание Описаниее
					</p>
				</div>
				<div class="news__item">
					<img src="assets/images/img/news-4.jpg" alt="" class="news__item-img">
					<img src="assets/images/img/news-4-mobile.jpg" alt="" class="news__item-img news__item-img_mobile">
					<h3 class="news__item-title">
						Заголовок
					</h3>
					<p class="news__item-description">
						ОписаниОписание Описание Описание Описание Описание Описаниее
					</p>
				</div>
				<div class="news__item">
					<img src="assets/images/img/news-5.jpg" alt="" class="news__item-img">
					<img src="assets/images/img/news-5-mobile.jpg" alt="" class="news__item-img news__item-img_mobile">
					<h3 class="news__item-title">
						Заголовок
					</h3>
					<p class="news__item-description">
						ОписаниОписание Описание Описание Описание Описание Описаниее
					</p>
				</div>
				<div class="news__item">
					<img src="assets/images/img/news-6.jpg" alt="" class="news__item-img">
					<img src="assets/images/img/news-6-mobile.jpg" alt="" class="news__item-img news__item-img_mobile">
					<h3 class="news__item-title">
						Заголовок
					</h3>
					<p class="news__item-description">
						ОписаниОписание Описание Описание Описание Описание Описаниее
					</p>
				</div>
			</div>

		</div>
	</div>
</section>