<section class="promo">
	<div class="swiper promo__slider">
		<div class="swiper-wrapper">
			<div class="promo__slide swiper-slide">
				<div class="promo__wrap-slide">
					<img src="assets/images/img/slide-1.jpg" alt="" class="promo__slide-img">
					<img src="assets/images/img/slide-1-mobile.jpg" alt="" class="promo__slide-img promo__slide-img_mobile">
					<div class="promo__slide-content">
						<span class="promo__slide-title">Слайд 1</span>
						<p class="promo__slide-description">
							Средне вековая история ТатарстанаСредне вековая история Та тарстанаСре дневековая история ТатарстанаСредневеков ая 
						</p>
					</div>
				</div>
			</div>
			<div class="promo__slide swiper-slide">
				<div class="promo__wrap-slide">
					<img src="assets/images/img/slide-2.jpg" alt="" class="promo__slide-img">
					<img src="assets/images/img/slide-2-mobile.jpg" alt="" class="promo__slide-img promo__slide-img_mobile">
					<div class="promo__slide-content">
						<span class="promo__slide-title">Слайд 2</span>
					</div>
				</div>
			</div>
			<div class="promo__slide swiper-slide">
				<div class="promo__wrap-slide">
					<img src="assets/images/img/slide-3.jpg" alt="" class="promo__slide-img">
					<img src="assets/images/img/slide-3-mobile.jpg" alt="" class="promo__slide-img promo__slide-img_mobile">
					<div class="promo__slide-content">
						<span class="promo__slide-title">Слайд 3</span>
						<p class="promo__slide-description">
							Прозвучат произведения Иоганна Себастьяна Баха, Поля Жанжана, Фрэнка Корделла, Андре Вайнена, Ефрема Подгайца
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="promo__slider-navigation">
		<div class="promo__slider-button promo__slider-button-prev">
			<span class="navigation-button navigation-button-prev"></span>
		</div>
		<div class="promo__slider-button promo__slider-button-next">
			<span class="navigation-button navigation-button-next"></span>
		</div>
		<!-- <span class="promo__slider-button-prev navigation-button"></span>
		<span class="promo__slider-button-next navigation-button"></span> -->
	</div>

</section>