<section class="subscribe">
	<div class="container">
		<h2 class="subscribe__title title-h2">
			Подпишись
		</h2>
		<span class="subscribe__description">
			Отправляем анонсы новых статей, выпусков и&nbsp;трансляций
		</span>
		<form action="#" class="subscribe__form">
			<div class="subscribe__wrap-inputs">
				<input type="email" class="subscribe__input" placeholder="Email" required>
				<input type="text" class="subscribe__input" placeholder="11.02.2022" required>
				<input type="tel" id="subscribe-phone" class="subscribe__input" autocomplete="off" placeholder="Телефон" required>
				<input type="text" class="subscribe__input" placeholder="15:00" required>
			</div>
			<button type="submit" class="subscribe__form-button button">
				Подписаться
			</button>
		</form>
	</div>
</section>